* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}

.v423_3981 {
  width: 100vw;
  height: 100vh;
  background: rgba(27,27,27,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}

.robo{
  width: calc(407/1280 * 100vw);
  height: calc(265/800 * 100vh);
  background: url("../images/Robo.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  opacity: 1;
  position: absolute;
  top: calc(495/800 * 100vh);
  left: calc(838/1280 * 100vw);
  overflow: hidden;
}

.v423_3982 {
  width: calc(731/1280 * 100vw);
  height: calc(731/800 * 100vh);
  background: url("../images/v423_3982.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  opacity: 1;
  position: absolute;
  top: calc(34/800 * 100vh);
  left: calc(60/1280 * 100vw);
  overflow: hidden;
}
.v423_3983 {
  width: calc(731/1280 * 100vw);
  height: calc(731/800 * 100vh);
  background: rgba(98,104,110,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  overflow: hidden;
}
.v423_3984 {
  width: calc(96/1280 * 100vw);
  height: calc(96/800 * 100vh);
  background: url("../images/v423_3984.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  opacity: 1;
  position: absolute;
  top: calc(655/800 * 100vh);
  left: calc(376/1280 * 100vw);
  overflow: hidden;
}
.v423_3985 {
  width: calc(615/1280 * 100vw);
  color: rgba(250,226,226,1);
  position: absolute;
  top: calc(61/800 * 100vh);
  left: calc(131/1280 * 100vw);
  font-family: Comfortaa;
  font-weight: Light;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}
.v423_3986 {
  width: calc(489/1280 * 100vw);
  height: calc(800/800 * 100vh);
  background: rgba(27,27,27,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: calc(791/1280 * 100vw);
  overflow: hidden;
}
.v427_3970 {
  width: calc(60/1280 * 100vw);
  height: calc(800/800 * 100vh);
  background: rgba(27,27,27,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v423_3987 {
  width: calc(407/1280 * 100vw);
  height: calc(254/800 * 100vh);
  background: rgba(250,226,226,1);
  opacity: 1;
  position: absolute;
  top: calc(495/800 * 100vh);
  left: calc(838/1280 * 100vw);
  border: 4px solid rgba(228,230,195,1);
  border-top-left-radius: 150px;
  border-top-right-radius: 150px;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v423_3988 {
  width: calc(24/1280 * 100vw);
  height: calc(53/800 * 100vh);
  background: url("../images/v423_3988.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  opacity: 1;
  position: absolute;
  top: calc(498/800 * 100vh);
  left: calc(1102/1280 * 100vw);
  overflow: hidden;
}
.v423_3989 {
  width: calc(384/1280 * 100vw);
  height: calc(210/800 * 100vh);
  background: rgba(196,129,233,1);
  opacity: 1;
  position: absolute;
  top: calc(550/800 * 100vh);
  left: calc(849/1280 * 100vw);
  border: 4px solid rgba(228,230,195,1);
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v423_3990 {
  width: calc(366/1280 * 100vw);
  height: calc(182/800 * 100vh);
  background: rgba(16,0,63,1);
  opacity: 1;
  position: absolute;
  top: calc(577/800 * 100vh);
  left: calc(858/1280 * 100vw);
  border: 4px solid rgba(79,53,155,1);
  border-top-left-radius: 125px;
  border-top-right-radius: 125px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v423_3991 {
  width: calc(80/1280 * 100vw);
  height: calc(40/800 * 100vh);
  background: url("../images/v423_3991.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  opacity: 1;
  position: absolute;
  top: calc(669/800 * 100vh);
  left: calc(899/1280 * 100vw);
  overflow: hidden;
}
.v423_3992 {
  width: calc(80/1280 * 100vw);
  height: calc(40/800 * 100vh);
  background: url("../images/v423_3992.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  opacity: 1;
  position: absolute;
  top: calc(629/800 * 100vh);
  left: calc(899/1280 * 100vw);
  overflow: hidden;
}
.v423_3993 {
  width: calc(80/1280 * 100vw);
  height: calc(40/800 * 100vh);
  background: url("../images/v423_3993.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  opacity: 1;
  position: absolute;
  top: calc(669/800 * 100vh);
  left: calc(1104/1280 * 100vw);
  overflow: hidden;
}
.v423_3994 {
  width: calc(80/1280 * 100vw);
  height: calc(40/800 * 100vh);
  background: url("../images/v423_3994.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  opacity: 1;
  position: absolute;
  top: calc(629/800 * 100vh);
  left: calc(1104/1280 * 100vw);
  overflow: hidden;
}
.v423_3995 {
  width: calc(44/1280 * 100vw);
  height: calc(7/800 * 100vh);
  background: url("../images/v423_3995.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  opacity: 1;
  position: absolute;
  top: calc(709/800 * 100vh);
  left: calc(1019/1280 * 100vw);
  overflow: hidden;
}
.v423_3996 {
  width: calc(23/1280 * 100vw);
  height: calc(53/800 * 100vh);
  background: url("../images/v423_3996.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  opacity: 1;
  position: absolute;
  top: calc(498/800 * 100vh);
  left: calc(956/1280 * 100vw);
  overflow: hidden;
}
