* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v423_3981 {
  width: 100vw;
  height: 100vh;
  background: rgba(27,27,27,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v423_3982 {
  width: calc(731px/1280px * 100vw);
  height: calc(731px/800px * 100vh);
  background: url("../images/v423_3982.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: calc(34px/800px * 100vh);
  left: calc(60px/1280px * 100vw);
  overflow: hidden;
}
.v423_3983 {
  width: calc(731px/1280px * 100vw);
  height: calc(731px/800px * 100vh);
  background: rgba(98,104,110,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  overflow: hidden;
}
.v423_3984 {
  width: calc(96px/1280px * 100vw);
  height: calc(96px/800px * 100vh);
  background: url("../images/v423_3984.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: calc(655px/800px * 100vh);
  left: calc(376px/1280px * 100vw);
  overflow: hidden;
}
.v423_3985 {
  width: calc(615px/1280px * 100vw);
  color: rgba(250,226,226,1);
  position: absolute;
  top: calc(61px/800px * 100vh);
  left: calc(131px/1280px * 100vw);
  font-family: Comfortaa;
  font-weight: Light;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}
.v423_3986 {
  width: calc(489px/1280px * 100vw);
  height: calc(800px/800px * 100vh);
  background: rgba(27,27,27,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: calc(791px/1280px * 100vw);
  overflow: hidden;
}
.v427_3970 {
  width: calc(60px/1280px * 100vw);
  height: calc(800px/800px * 100vh);
  background: rgba(27,27,27,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v423_3987 {
  width: calc(407px/1280px * 100vw);
  height: calc(254px/800px * 100vh);
  background: rgba(250,226,226,1);
  opacity: 1;
  position: absolute;
  top: calc(495px/800px * 100vh);
  left: calc(838px/1280px * 100vw);
  border: 4px solid rgba(228,230,195,1);
  border-top-left-radius: 150px;
  border-top-right-radius: 150px;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v423_3988 {
  width: calc(24px/1280px * 100vw);
  height: calc(53px/800px * 100vh);
  background: url("../images/v423_3988.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: calc(498px/800px * 100vh);
  left: calc(1102px/1280px * 100vw);
  overflow: hidden;
}
.v423_3989 {
  width: calc(384px/1280px * 100vw);
  height: calc(210px/800px * 100vh);
  background: rgba(196,129,233,1);
  opacity: 1;
  position: absolute;
  top: calc(550px/800px * 100vh);
  left: calc(849px/1280px * 100vw);
  border: 4px solid rgba(228,230,195,1);
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v423_3990 {
  width: calc(366px/1280px * 100vw);
  height: calc(182px/800px * 100vh);
  background: rgba(16,0,63,1);
  opacity: 1;
  position: absolute;
  top: calc(577px/800px * 100vh);
  left: calc(858px/1280px * 100vw);
  border: 4px solid rgba(79,53,155,1);
  border-top-left-radius: 125px;
  border-top-right-radius: 125px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v423_3991 {
  width: calc(80px/1280px * 100vw);
  height: calc(40px/800px * 100vh);
  background: url("../images/v423_3991.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: calc(669px/800px * 100vh);
  left: calc(899px/1280px * 100vw);
  overflow: hidden;
}
.v423_3992 {
  width: calc(80px/1280px * 100vw);
  height: calc(40px/800px * 100vh);
  background: url("../images/v423_3992.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: calc(629px/800px * 100vh);
  left: calc(899px/1280px * 100vw);
  overflow: hidden;
}
.v423_3993 {
  width: calc(80px/1280px * 100vw);
  height: calc(40px/800px * 100vh);
  background: url("../images/v423_3993.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: calc(669px/800px * 100vh);
  left: calc(1104px/1280px * 100vw);
  overflow: hidden;
}
.v423_3994 {
  width: calc(80px/1280px * 100vw);
  height: calc(40px/800px * 100vh);
  background: url("../images/v423_3994.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: calc(629px/800px * 100vh);
  left: calc(1104px/1280px * 100vw);
  overflow: hidden;
}
.v423_3995 {
  width: calc(44px/1280px * 100vw);
  height: calc(7px/800px * 100vh);
  background: url("../images/v423_3995.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: calc(709px/800px * 100vh);
  left: calc(1019px/1280px * 100vw);
  overflow: hidden;
}
.v423_3996 {
  width: calc(23px/1280px * 100vw);
  height: calc(53px/800px * 100vh);
  background: url("../images/v423_3996.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: calc(498px/800px * 100vh);
  left: calc(956px/1280px * 100vw);
  overflow: hidden;
}
